extends layout

block content
    h1= 'mRNA:  ' + ((result.features && result.features.gene_name) || result.accession)
    p
        a(href='/api/mrna/' + result.accession) api
    p= result.features.definition
    table
        tbody
            tr
                td Organism
                td= result.features.organism
            tr
                td Chromosome
                td
                    a(href='/chrom/' + result.chrom + '/' + result.start + '/' + result.end)= result.chrom + ' from ' + result.start + ' to ' + result.end
            tr
                td Gene Name 
                td=result.features.gene_name
            tr 
                td Gene ID
                td 
                    a(href='/gene/' + result.gene_id)= result.gene_id
            tr
                td Accession / Version
                td= result.accession

    h2 Downstream (of Poly(A) site) U-Rich motifs
    table
        thead
            tr
                th nt. Distance from poly(A) site
                th Order
                th Sequence
        tbody
            - each urich in result.u_rich_downstream
                tr
                    td= urich.downstream_rel_pos
                    td= urich.order 
                    td= urich.seq 
   